<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Document</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/base.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <!-- MENU -->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" href="http://bootstraptema.ru/snippets/menu/2017/cdmenu/cdmenu.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://bootstraptema.ru/snippets/menu/2017/cdmenu/cdmenu.js"></script> -->
   </head>
   <body>
      <div class="main_block_page">
         <div class="container">
            <div class="row">
               <div class="col-md-6 block_form block_profile">
                  <form action="#" method="post">
                     <h3>Personal card</h3>
                     <hr>
                     <div class="form-row">
                        <div class="col-md-4 mb-3">
                           <label for="validationDefault01">First name</label>
                           <input type="text" class="form-control" id="validationDefault00" placeholder="First name" required>
                        </div>
                        <div class="col-md-4 mb-3">
                           <label for="validationDefault02">Last name</label>
                           <input type="text" class="form-control" id="validationDefault01" placeholder="Last name" required>
                        </div>
                        <div class="col-md-4 mb-3">
                           <label for="validationDefault02">Patronymic</label>
                           <input type="text" class="form-control" id="validationDefault02" placeholder="Patronymic" required>
                        </div>
                     </div>
                     <div class="form-row">
                        <div class="col-md-3 mb-3">
                           <label for="validationDefault01">Мonth</label>
                           <input type="number" class="form-control" id="validationDefault10" min="1" max="12" placeholder="Мonth" required>
                        </div>
                        <div class="col-md-3 mb-3">
                           <label for="validationDefault02">Day</label>
                           <input type="number" class="form-control" id="validationDefault11" min="1" max="31" placeholder="Day" required>
                        </div>
                        <div class="col-md-3 mb-3">
                           <label for="validationDefault02">Year</label>
                           <input type="number" class="form-control" id="validationDefault12" min="1960" max="2019" placeholder="Year" required>
                        </div>
                        <div class="col-md-3 mb-3">
                           <label for="validationDefault02">Gender</label>
                           <select name="gender" class="custom-select">
                              <option value="male">Male</option>
                              <option value="famele">Female</option>
                           </select>
                        </div>
                     </div>
                     <div class="form-row">
                        <div class="col-md-5 mb-2">
                           <label for="validationDefault03">Country</label>
                           <input type="text" class="form-control" id="validationDefault03" placeholder="Country" required>
                        </div>
                        <div class="col-md-3 mb-2">
                           <label for="validationDefault04">City</label>
                           <input type="text" class="form-control" id="validationDefault04" placeholder="City" required>
                        </div>
                        <div class="col-md-2 mb-2">
                           <label for="validationDefault05">House</label>
                           <input type="number" class="form-control" id="validationDefault05" placeholder="34" required>
                        </div>
                        <div class="col-md-2 mb-2">
                           <label for="validationDefault06">Apartment</label>
                           <input type="number" class="form-control" id="validationDefault06" placeholder="01" required>
                        </div>
                     </div>
                     <div class="form-row">
                        <div class="col-md-8 mb-8">
                           <label for="validationDefault07">Purpose of the visit</label>
                           <select name="gender" class="custom-select">
                              <option value="travelling">Travelling</option>
                              <option value="working_trip">Working trip</option>
                              <option value="permanent_residence">Permanent residence</option>
                           </select>
                        </div>
                        <div class="col-md-8 mb-8">
                           <label for="validationDefault08">How much is planned to take money ?</label>
                           <input type="number" class="form-control" id="validationDefault08" min="100$" max="100000" placeholder="1000$" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                           <label class="form-check-label" for="invalidCheck2">
                           Agree to terms and conditions
                           </label>
                        </div>
                     </div>
                     <button class="btn btn-primary" type="submit">Save data</button>
                  </form>
               </div>
            </div>
         </div>
      <!--
      
         <section class="cd-section">
            <button class="cd-bouncy-nav-trigger" href="#0">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
         </section>
         <div class="cd-bouncy-nav-modal">
            <nav>
               <ul class="cd-bouncy-nav">
                  <li><a href="#home">Home</a></li>
                  <li><a href="#about">Transactions</a></li>
                  <li><a href="#services">Cards</a></li>
                  <li><a href="#gallery">Accounts</a></li>
                  <li><a href="#team">Settings</a></li>
                  <li><a href="#contact">Exit</a></li>
               </ul>
            </nav>
            <a href="#0" class="cd-close">Close modal</a>
         </div>
      -->
         <!--
         <div class="container">
            <div class="row">
               <div class="col-md-6 block_form">
                  <form class="form-horizontal" method="post" action="#">
                     <span class="heading">АВТОРИЗАЦИЯ</span>
                     <div class="form-group">
                        <input type="email" class="form-control" name="useremail" id="inputEmail" placeholder="E-mail">
                        <i class="fa fa-user"></i>
                     </div>
                     <div class="form-group help">
                        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
                        <i class="fa fa-lock"></i>
                        <a href="#" class="fa fa-question-circle"></a>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="btn btn-default">ВХОД</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         -->
      </div>
   </body>
</html>