{% extends 'base.html' %}

{% load static %}

{% block styles %}
{% endblock %}

{% block page_title %}
    <title>Create user card</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 block_form block_profile">
                <form action="" method="post">
                    {% csrf_token %}
                    <h3>Personal card</h3>
                    <hr>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault01">First name</label>
                            <input type="text" class="form-control" id="validationDefault01" name="first_name" placeholder="First name"
                                   required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault02">Last name</label>
                            <input type="text" class="form-control" id="validationDefault02" name="last_name" placeholder="Last name"
                                   required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault03">Patronymic</label>
                            <input type="text" class="form-control" id="validationDefault03" name="patronymic" placeholder="Patronymic"
                                   required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault04">Мonth</label>
                            <input type="number" class="form-control" id="validationDefault04" name="month" min="1" max="12"
                                   placeholder="Мonth" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault05">Day</label>
                            <input type="number" class="form-control" id="validationDefault05" name="day" min="1" max="31"
                                   placeholder="Day" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault06">Year</label>
                            <input type="number" class="form-control" id="validationDefault06" name="year" min="1960" max="2019"
                                   placeholder="Year" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationDefault02">Gender</label>
                            <select name="gender" class="custom-select" style="font-size: 15px;">
                                <option value="male">Male</option>
                                <option value="famele">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-5 mb-2">
                            <label for="validationDefault03">Country</label>
                            <input type="text" class="form-control" id="validationDefault03" placeholder="Country"
                                   required>
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="validationDefault04">City</label>
                            <input type="text" class="form-control" id="validationDefault04" placeholder="City"
                                   required>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="validationDefault05">House</label>
                            <input type="number" class="form-control" id="validationDefault05" placeholder="34"
                                   required>
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="validationDefault06">Apartment</label>
                            <input type="number" class="form-control" id="validationDefault06" placeholder="01"
                                   required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-10 mb-10">
                            <label for="validationDefault07">Purpose of the visit</label>
                            <select name="gender" class="custom-select" style="font-size: 15px;">
                                <option value="travelling">Travelling</option>
                                <option value="working_trip">Working trip</option>
                                <option value="permanent_residence">Permanent residence</option>
                            </select>
                        </div>
                        <div class="col-md-10 mb-10">
                            <label for="validationDefault08">How much is planned to take money ?</label>
                            <input type="number" class="form-control" id="validationDefault08" min="100$" max="100000"
                                   placeholder="1000$" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <div class="col-md-1">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
                            </div>
                            <div class="col-md-9">
                                <label class="form-check-label" style="margin: 0 auto;" for="invalidCheck2">
                                Agree to terms and conditions
                            </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-primary" type="submit">Save data</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}